/* Footer.css */
.footer {
  background-color: #171361;
  color: rgb(239, 236, 236);
  text-align: center;
  padding: 15px 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

@media (max-width: 600px) {
  .footer {
    padding: 10px 0;
    font-size: 0.8rem;
  }
}